location = "japaneast"
identifier = "<identifier>"

terraform = {
  virtual_network_name = "vnet-<identifier>-terraform-runner"
  resource_group_name = "rg-<identifier>-terraform-runner"
}

modules = [
  "storage_via_private_endpoint",
  # "access_cosmosdb_via_private_endpoint",
  # "access_func_via_private_endpoint",
]

# vm_admin_username = "<VM's admin username>"
# vm_admin_password = "<VM's admin password>"
